<?xml version="1.0"?>
<settings>
    <name>Software</name>
    <command>python software.py</command>
    <seed>42</seed>
    <max_samples>200</max_samples>
    <min_samples>10</min_samples>
    <inputs>
        <input>
            <name>Sex</name>
            <type>categorical</type>
            <values>
                <value>Male</value>
                <value>Female</value>
            </values>
        </input>
        <input>
            <name>Age</name>
            <type>continuousInt</type>
            <bounds>
                <lowerbound>2</lowerbound>
                <upperbound>6</upperbound>
            </bounds>
        </input>
        <input>
            <name>Race</name>
            <type>categorical</type>
            <values>
                <value>Red</value>
                <value>Green</value>
                <value>Yellow</value>
                <value>Purple</value>
            </values>
        </input>
        <input>
            <name>Income</name>
            <type>continuousInt</type>
            <bounds>
                <lowerbound>2</lowerbound>
                <upperbound>5</upperbound>
            </bounds>
        </input>
    </inputs>
    <tests>
        <test>
            <function>group_discrimination</function>
            <i_fields>
                <input_name>Sex</input_name>
                <input_name>Race</input_name>
            </i_fields>
            <conf>0.998</conf>
            <margin>0.0002</margin>
        </test>
        <test>
            <function>causal_discrimination</function>
            <i_fields>
                <input_name>Sex</input_name>
                <input_name>Race</input_name>
            </i_fields>
            <conf>0.997</conf>
            <margin>0.0003</margin>
        </test>
        <test>
            <function>discrimination_search</function>
            <threshold>0.2</threshold>
            <conf>0.999</conf>
            <margin>0.0001</margin>
            <group/>
            <causal/>
        </test>
    </tests>
</settings>
